@import url(https://fonts.googleapis.com/css?family=Roboto:700);

/*
    Basic scrolling animation.
	LRMove 100% {left: -x%}
    x needs to be equal or greater than the Chatlist item's width which is shown in #log>div{...}
    with a minus (-) sign in front of the value
    
	For example, if #log>div {width: 65%}
	LRMove 100% {left: -65%}

	RLMove is needed to ensure the message remains offscreen after the LRMove animation is completed
	RLMove needs to remain unchanged
*/
@keyframes LRMove {    
    0% {left: 120%;}
    100% {left: -65%;} 
}

@keyframes RLMove {
    0% {right: 120%;}
    100% {right: 120%;}
}

* {
    box-sizing: border-box;
}

html, body {
    height: 100%;
    overflow: hidden;
}

body {
    text-shadow: 0 0 1px #000, 0 0 2px #000;
    background: {background_color};
    font-family: 'Roboto';
    font-weight: 700;
    font-size: {font_size};
    line-height: 1.5em;
    color: {text_color};
}

.colon {
    display: none;
}

#log {
    display: flex;
    position: relative;
    bottom: 0;
    left: 0;
    padding: 0 10px 10px;
    width: 100%;
    height: 100%;
}

#log>div {
    /*chat transparency*/
    opacity: .8;    
    position: relative;
	/*Adjust scroll speed here. Replace 3s*/
    animation: LRMove 6s linear, RLMove 1s linear 1s forwards;   
    -webkit-animation: LRMove 6s linear, RLMove 1s linear 1s forwards;
    word-wrap: break-word;
    width: 65%;

}

#log>div.deleted {
    visibility: hidden;
}

#log .emote {
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    padding: 0.4em 0.2em;
    position: relative;
}

#log .emote img {
    display: inline-block;
    height: 1em;
    opacity: 0;
}

#log .message,#log .meta {
    vertical-align: top;
    padding-bottom: 0.1em;
}

#log .meta {

}

#log .message {
    
}

/*
    Badges and usernames are disabled. 
    Enable them by changing the display property to 'inline-block'
    Disable them by changing the display property to 'none' 
*/
.badge {
    display: none;
    margin-right: 0.2em;
    position: relative;
    height: 1em;
    vertical-align: middle;
    top: -0.1em;
}

.name {
  	display: none;
    margin-left: 0.2em;
}